

body {
    
    font-family: 'Roboto', sans-serif !important;
}

/*  шапка */

header {
    background:url("../img/BG.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:1000px;
    
}



a {
   
    text-transform:uppercase;
}

.navbar-brand img {
    width:230px;
    height:auto;
}

.timer {
    border:3px solid #90d23d;
    height:195px;
    border-radius:15px;
    position:absolute;
    top:200px;
    color:#fff;
    font-weight:normal;
}

.timerSize {
    font-size:90px;
}
 .timerNumber {
     font-size:25px;
     margin:0;
 }



@media (min-width:320px) {
    .btnHidden {
        margin-bottom:20px;
    }
}

@media (max-width:1140px) {
    .timer {
        top:250px;
        height:155px;
    }
    .timerSize {
        font-size:60px;
    }

}

@media (max-width:995px) {
    .timer {
        top:300px;
        height:125px;
    }
    .timerSize {
        font-size:40px;
    }
    .timerNumber {
        font-size:20px;
    }
}

@media (max-width:870px) {
    .timer {
        height:65px;
    }
    .timerSize {
        font-size:15px;
    }
    .timerNumber {
        font-size:15px;
    }
}



@media (max-width:576px) {
    .timer {
        top:400px;
        height:65px;
    }
    .timerSize {
        font-size:12px;
    }
    .timerNumber {
        font-size:10px;
    }
}


/* главный блок  */



.welcome {
    position:relative;
    
}

.mainForm {
    border:1px solid silver;
    position:absolute;
    top:-250px;
    box-shadow:  0px 2px 0px 0px #949293;
}

 h3 {
    font-weight:900;
    font-size:50px;
    margin-bottom:20px;
}

input  {
    border:1px solid silver;
}

.btnForm {
    background:#90d23d;
    color:#fff;
    height:60px;
    font-size:40px;
    border-radius:10px;
    border:none;
}

.btnForm:hover {
    background:#7FFF00;
}

.btnForm:active, .btnForm:focus {
    outline:none;
}

@media (max-width:1140px) {
    .mainForm {
        top:100%;

    }
}



/* plan */

.planP {
    height:70px;
}

.planP:nth-child(1) {
    background:#a3cc40;
    font-size:30px;
}

.planP:nth-child(2n) {
   background:#373737;
    font-size:20px;
}

.planP:nth-child(odd):not(:nth-child(1)) {
    background:#4b4d4f;
    font-size:20px;
 }

@media (min-width:320px){
    .planP {
        height:150px;
    }
}

@media (min-width:768px){
    .planP {
        height:100px;
    }
}

@media (min-width:960px){
    .planP {
        height:70px;
    }
}

/*  We are */

.we {
    background:url("../img/background.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:780px;

}

@media (min-width:320px){
    .we {
        height:auto;
    }
}

@media (min-width:1200px){
    .we {
        height:780px;
    }
}

.elite {
    position:absolute;
    left:170px;
}

.weAreText {
    padding-top:200px;
}


@media (max-width:1200px) {
    .elite {
        left:20%;
    }

    .elite img {
        max-width:70%;
    }

    .weAreText {
        padding-top:150px;
    }
}

@media (max-width:960px) {
    .elite {
        left:10%;
    }

    .elite img {
        max-width:70%;
    }

    .weAreText {
        padding-top:150px;
    }
}

@media (max-width:540px) {
    .elite {
        left:10%;
    }

    .elite img {
        max-width:50%;
    }

    .weAreText {
        padding-top:200px;
    }
}

@media (max-width:320px) {
    .elite {
        left:50%;
        margin-left:-35px;
    }

    .elite img {
        max-width:50%;
    }

    .weAreText {
        padding-top:150px;
    }
}



.weAreBtn {
    background:#90d23d;
    color:#fff;
    height:60px;
    font-size:20px;
    border-radius:10px;
    border:none;
    
}

 .weAreBtn:active, .weAreBtn:focus {
    outline:none;
}

.weAreBtn:hover {
    background:#7FFF00;
}

/*  speakers  */

.blockWrapper {
    position:relative;
}

.inside {
    position:absolute;
    top:5%;
    left:5%;
}

.speakerContent div:nth-child(2) h4 {
    font-size:50px;
}

.speakerContent div:nth-child(2) p {
    font-size:20px;
}

.speakerContent div:nth-child(2) h4:after {
   content:"";
   display:block;
   width:100px;
   height:6px;
   background:#fff;
}

@media (max-width:440px){
    .blocks img {
        max-width:90%;
    }

}

@media (min-width:320px) {
    .speakerContent div:nth-child(2) {
        padding:10px;
    }

    .speakerContent div:nth-child(2) h4 {
            font-size:18px;
    }
    .speakerContent div:nth-child(2) p {
        font-size:12px;
    }
}

@media (min-width:440px) {
    .speakerContent div:nth-child(2) {
        padding:10px;
    }

    .speakerContent div:nth-child(2) h4 {
            font-size:35px;
    }
    .speakerContent div:nth-child(2) p {
        font-size:20px;
    }
}

/* sponsor */

.sponsor {
    background:url("../img/background.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:800px;
    padding-top:200px;
}

.sponsor h4 {
    font-size:50px;
    font-weight:bold;
}

.sponsorBtn {
    background:#90d23d;
    color:#fff;
    height:60px;
    width:200px;
    font-size:20px;
    border-radius:10px;
    border:none;
}

.sponsorBtn:hover {
    background:#7FFF00;
}

@media (min-width:320px) {
    .sponsor {
        height:auto;
        padding-top:100px;
    }

}

@media (min-width:1200px){
    .sponsor {
        height:800px;
        padding-top:200px;
    }
}

/* past events */


.pastText h4 {
    font-weight:bold;
    font-size:40px;
}

.bluePhoto {
    background:url("../img/blue.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:416px;
    
}

.greenPhoto {
    background:url("../img/green.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:416px;
}

.orangePhoto {
    background:url("../img/orange.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:366px;
}

.redPhoto {
    background:url("../img/red.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:366px;
}

.eventBtn {
    background:#373737;
    color:#fff;
    width:200px;
    height:50px;
    border-radius:10px;
    font-size:20px;
    border:none;
}

.eventBtn:hover {
    background:#7FFF00;
}


























