

body {
    font-family: 'Roboto', sans-serif !important;
}

/*  шапка */

header {
    background:url("../img/BG.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:775px;
    
}



a {
   
    text-transform:uppercase;
}

.navbar-brand img {
    width:230px;
    height:auto;
}

.timer {
    border:3px solid #90d23d;
    height:195px;
    border-radius:15px;
    position:absolute;
    top:200px;
    color:#fff;
    font-weight:normal;
}

.timerSize {
    font-size:90px;
}
 .timerNumber {
     font-size:25px;
     margin:0;
 }



@media (min-width:320px) {
    .btnHidden {
        margin-bottom:20px;
    }
}

@media (max-width:1140px) {
    .timer {
        top:250px;
        height:155px;
    }
    .timerSize {
        font-size:60px;
    }

}

@media (max-width:995px) {
    .timer {
        top:300px;
        height:125px;
    }
    .timerSize {
        font-size:40px;
    }
    .timerNumber {
        font-size:20px;
    }
}

@media (max-width:870px) {
    .timer {
        height:65px;
    }
    .timerSize {
        font-size:15px;
    }
    .timerNumber {
        font-size:15px;
    }
}



@media (max-width:576px) {
    .timer {
        top:400px;
        height:65px;
    }
    .timerSize {
        font-size:12px;
    }
    .timerNumber {
        font-size:10px;
    }
}


/* главный блок  */



.welcome {
    position:relative;
    
}

.mainForm {
    border:1px solid silver;
    position:absolute;
    top:-250px;
    box-shadow:  0px 2px 0px 0px #949293;
}

 h3 {
    font-weight:900;
    font-size:50px;
    margin-bottom:20px;
}

input  {
    border:1px solid silver;
}

.btnForm {
    background:#90d23d;
    color:#fff;
    height:60px;
    font-size:40px;
    border-radius:10px;
    border:none;
}

@media (max-width:1140px) {
    .mainForm {
        top:100%;

    }
}





.planP {
    height:70px;
}

.planP:nth-child(1) {
    background:#a3cc40;
    font-size:35px;
}

.planP:nth-child(2n) {
   background:#373737;
    font-size:25px;
}

.planP:nth-child(odd):not(:nth-child(1)) {
    background:#4b4d4f;
    font-size:25px;
 }




















